.header__button-wrap--car-info {
  justify-content: space-between;
}

.car-info {
  padding-top: 20px;
  // padding-bottom: 30px;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.car-info__wrap {
  margin-bottom: 20px;
}

.car-info__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: var(--description-text-color);
}

.car-info__heading {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
}

.car-info__image-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@keyframes carLight {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    scale: 1.5;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    scale: 1.5;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    scale: 1.5;
  }
}

.car-info__image {
  width: 200px;
}

.car-info__image-wrap::before {
  content: '';
  width: 50px;
  height: 15px;
  background: #ff4141;
  box-shadow: 0px 0px 20px rgba(181, 41, 51, 0.7), 0px 0px 70px #ff4141;
  filter: blur(8px);
  border-radius: 50%;
  position: absolute;
  top: 45px;
  left: 26vw;
  z-index: 5;
  animation: carLight 750ms cubic-bezier(0.4, 0, 0.2, 1) 3s;
  transform: rotate(5deg);
}

.car-info__image-wrap::after {
  content: '';
  width: 50px;
  height: 15px;
  background: #ff4141;
  box-shadow: 0px 0px 20px rgba(181, 41, 51, 0.7), 0px 0px 70px #ff4141;
  filter: blur(8px);
  border-radius: 50%;
  position: absolute;
  top: 45px;
  right: 26vw;
  z-index: 5;
  animation: carLight 750ms cubic-bezier(0.4, 0, 0.2, 1) 3s;
  transform: rotate(-5deg);
}

.car-info__status-heading {
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-align: left;
  color: var(--primary-text-color);
}

.car-info__status-wrap {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car-info__status-item:not(:last-child) {
  margin-right: 30px;
}

.car-info__status-label-wrap {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 8px;
}

.car-info__status-label-icon {
  margin-right: 7px;
}

.car-info__status-label-heading {
  font-size: 18px;
  line-height: 1.2;
  color: var(--description-text-color);
}

.car-info__status-value {
  font-weight: 900;
  font-size: 18px;
  line-height: 1.2;
  color: var(--primary-text-color);
  text-align: center;
}

.car-info__scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.car-info__scrolling-card {
  min-width: 150px;
  height: 160px;
  background: linear-gradient(138.69deg, #1f2328 0%, #1a1c1f 100%);
  border-radius: 8px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.car-info__card-first-bg {
  padding: 18px;
  width: 100%;
  height: 100%;
  background-image: url(../images/card-bg-1.png);
}

.car-info__card-second-bg {
  padding: 18px;
  width: 100%;
  height: 100%;
  background-image: url(../images/card-bg-2.png);
}

.car-info__card-third-bg {
  padding: 18px;
  width: 100%;
  height: 100%;
  background-image: url(../images/card-bg-3.png);
}

.car-info__light {
  width: 6px;
  height: 6px;
  background: linear-gradient(320.66deg, #0172be 14.75%, #0f9bee 84.81%);
  box-shadow: 0px 0px 8px #0a8ddd;
  border-radius: 100px;
}

.add-menu {
  margin-top: auto;
  position: relative;
}

.add-menu__wrap {
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, #353a40 -56.47%, #16171b 100%);
  border-radius: 50px 50px 0 0;
  position: relative;
  padding: 30px 40px 10px 40px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  &::after {
    content: '';
    width: 60px;
    height: 4px;
    background: #17181c;
    // background: var(--primary-text-color);
    // box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.add-menu__wrap--open {
  transform: translateY(-300px);
}

.add-menu__wrap-toogle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-menu__heading-wrap {
  text-align: left;
}

.add-menu__heading {
  margin-bottom: 8px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: var(--primary-text-color);
}

.add-menu__open-button {
  width: 60px;
  height: 60px;
  background: linear-gradient(318.21deg, #11a8fd 14.05%, #0081c9 85.29%);
  box-shadow: 10px 15px 40px #000000, -10px -15px 40px #2f393d;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-menu__button-second-circle {
  width: 61px;
  height: 61px;

  background: linear-gradient(320.66deg, #11a8fd 14.75%, #0081c9 84.81%);
  // filter: blur(1px);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-menu__button-third-circle {
  width: 55px;
  height: 55px;
  background: linear-gradient(320.66deg, #005ea3 14.75%, #11a8fd 84.81%);
  border: 1px solid #058dd9;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-menu__button-fourth-circle {
  width: 55px;
  height: 55px;
  padding-top: 8px;
  background: linear-gradient(320.66deg, #016bb8 14.75%, #11a8fd 84.81%);
  // filter: blur(1px);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
}

.add-menu__open-button-icon {
  fill: currentColor;
}

.add-menu__content-wrap {
  height: 60vh;
}
