.header {
  position: absolute;
  width: 100%;
}

.header__button-wrap {
  display: flex;
  padding-top: 10px;
  justify-content: flex-end;
}

.header__button {
  width: 60px;
  height: 60px;
  background: linear-gradient(318.21deg, #2c3036 14.05%, #31343c 85.29%);
  // filter: blur(2px);
  border-radius: 30px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__button-second {
  width: 61px;
  height: 61px;
  background: linear-gradient(318.21deg, #2c3036 14.05%, #31343c 85.29%);
  box-shadow: 7px 7px 30px #1f2427, -7px -7px 30px #485057;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__button-third {
  width: 57px;
  height: 57px;
  background: linear-gradient(320.66deg, #2f353a 14.75%, #1c1f22 84.81%);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__button-fourth {
  width: 57px;
  height: 57px;
  background: linear-gradient(320.66deg, #2f353a 14.75%, #1c1f22 84.81%);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
