:root {
  --description-text-color: #7f8489;
  --primary-text-color: #fdfdfd;
  // --secondary-text-color: #e6e6e6;
  --accent-color: #11a8fd;
}

body {
  font-family: Lato, sans-serif;
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  background: #353a40;
}
